/* --- SearchSection.css --- */
.text-center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    background-image: url("../assets/Home_box1_img.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.search-bar {
  background-color: white;
  padding: 0.5rem;
  display: flex;
  min-width: 250px;
  border-radius: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  animation: fadeInUp 0.5s ease;
}

.search-input-add {
  border: none;
  outline: none;
  padding: 0.5rem;
  width: 300px;
  /* padding-left: 0px; */
}

.search-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
}

@keyframes fadeInUp {
  0% { opacity: 0; transform: translateY(20px); }
  100% { opacity: 1; transform: translateY(0); }
}
